.info-card {
    transition: transform 0.3s;
    margin-top: 15px;
    
  }

  .info-card:hover {
    transform: scale(1.05);
  }

  .info-card-text {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .info-card:hover .info-card-text {
    opacity: 1;
  }
  .main-content {
    background-color: #333333;
    color: #b4b4b4;
  }
  body {
    margin: 0;
    padding: 10;
  }

  .header {
    margin-bottom: 0;
  }
  .header {
    background-color: black;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  .card-body {
    background-color: black;
  }
  .carousel {
    margin-top: 75px;
}